* {
    margin: 0;
    padding: 0;

}

.rocketStyle {
    border: 1px solid white;
    color: white;
    width: 40px;
    height: 40px;
}

.customBox {
    position: relative;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/public/backImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.rocket {
    color: white;
    width: 40px;
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-90deg);
    font-size: 28px;

    /* border: 1px solid white; */
}


.rocket-after {
    color: white;
    width: 40px;
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 28px;
    /* border: 1px solid white; */
    offset-path: path("M 20 14 C 700 -19 138 -396 -76 -394");

    animation: afterpath 5s cubic-bezier(0.95, 0, 0.69, 0.19) forwards;
    /* animation-delay: 10s; */
}

.customH1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    /* offset-path: path("M 0 0 C -113.3333 80 -540 420 -40 -360"); */
    /* animation: path 5s cubic-bezier(0.95, 0, 0.69, 0.19) infinite; */
}

.button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    opacity: 0;
    animation: animate 3s linear forwards;
    animation-delay: 3s;
    /* offset-path: path("M 0 0 C -113.3333 80 -540 420 -40 -360"); */
    /* animation: path 5s cubic-bezier(0.95, 0, 0.69, 0.19) infinite; */
    cursor: pointer;
}

@keyframes path {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

@keyframes afterpath {
    0% {
        offset-distance: 0%;
        font-size: 28px;
    }

    100% {
        offset-distance: 100%;
        font-size: 0px;
    }
}

.button:hover {
    border: 2px solid white;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

@media (max-width:960px) {
    .customH1 {
        font-size: 4rem;
    }
}