* {
    margin: 0;
    padding: 0;
    outline: none;
}

.PlanetHolder {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.planet {
    width: 300px;
    height: 400px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Sun {

    height: 90vh;
    width: 300px;
    overflow: hidden;
}

.SunSource {
    height: 100%;
    /* position: absolute; */
    left: 100px;

}

.planetSource {
    padding: 0;
    margin: 0;
    width: 100%;
    animation: updown 5s ease-in infinite;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}


.planetHandlerIcons {
    color: #01fff0;
    opacity: 0.5;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.planetHandlerIcons:hover {
    opacity: 1;

}

.planetSource:focus {
    box-shadow: none;
}

@media (max-width:500px) {
    .PlanetHolder {
        display: flex;
        flex-direction: column;
    }

    .planet {
        width: 100vw;
        height: 200px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .planetSource {
        width: 50%;

    }

    .Sun {

        height: 50vh;
        width: 100vw;
        overflow: hidden;
    }

    .SunSource {
        width: 100%;
        position: relative;
        left: 0px;
        top: 200px;
    }
}